<form [formGroup]="formulario">
  <input type="number" class="form-control" formControlName="id" readonly [(ngModel)]="categoria.id">
  <input type="text" placeholder="Nome" class="form-control" formControlName="nome" [(ngModel)]="categoria.nome">
  <input type="text" placeholder="Seção" class="form-control" formControlName="secao" [(ngModel)]="categoria.secao">
  @if(tabelaVisivel) {
    <input type="number" placeholder="Id do Produto" class="form-control" formControlName="produtoId" [(ngModel)]="categoria.produtoId">
  } @else {
    <input type="text" placeholder="Nome do Produto" class="form-control" formControlName="produtoId" readonly [(ngModel)]="categoria.produtoId.prodNome">

  }

  @if(exibirBotoes) {
    <input type="button" value="Cadastrar" class="btn btn-primary" (click)="salvarCategoria()" [disabled]="formulario.invalid">
  } @else {
    <input type="button" value="Alterar" class="btn btn-primary" (click)="alterar(formulario.value.id)">
    <input type="button" value="Cancelar" class="btn btn-primary" (click)="cancelar()">
  }
</form>


<table class="table" *ngIf="tabelaVisivel">
  <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Nome</th>
      <th>Seção</th>
      <th>Id do Produto</th>
      <th>Excluir</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of categorias; index as i">
      <td>{{i}}</td>
      <td>{{c.id}}</td>
      <td>{{c.nome}}</td>
      <td>{{c.secao}}</td>
      <td>{{c.produtoId.prodNome}}</td>
      @if(c.produtoId !== null) {
        <td>
          <button class="custom-button-inativo" (click)="removerCategoria(c.id)">
            <i class="bi bi bi-trash custom-icon-inativo"></i>
          </button>
        </td>
      }
      <td>
        <button class="custom-button-editar" (click)="selecionarCategoria(i)">
          <i class="bi bi-pencil-square custom-icon-editar"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
